@font-face {
    font-family:'flappy-bird';
    src: url('assets/fonts/flappy-bird.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: 'flappy-bird';
    font-weight: 400;
}

html, body {
    height: 100%;
}

.screen {
    background-image: url('assets/images/background.png');
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #80df7b;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.screen h1 {
    display: inline-block;
    font-size: 8rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(128, 128, 128, 128);
    margin: 4rem auto 6rem auto;
}

.screen p {
    font-size: 2rem;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2rem;
}

.button-list {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    width: max-content;
    row-gap: 1.5rem;
    list-style-type: none;
    padding: 0px; /* Needed because ul has padding on left for bullets by default */
}

.button {
    background-color: #f73d72;
    display: block;
    cursor: pointer;
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    border-width: 0;
    padding: 0.5rem 0.8rem;
    box-shadow: 2px 2px 4px 0px rgb(128, 128, 128, 128);
}

.button:hover {
    background-color: #b42d54;
}

.button:active {
    background-color: #f73d72;
}

.stat-list {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 2rem;
}

.stat-label {
    font-size: 2rem;
}

.stat-value {
    font-size: 2rem;
}

.canvas-wrapper {
    width: 100%;
}

#canvas {
    display: block;
    width: 100%;
    height: 100svh;
}

#about-screen {
    background-image: none;
    background-color: #6fbdc8;
    padding-bottom: 2rem;
}

#evolve-screen {
    background-image: none;
    background-color: #1e2021;
}

#play-screen {
    background-image: none;
    background-color: #1e2021;
}
